# macOS
.DS_Store

# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# renv: keep lock + activator, ignore the library
renv/library/
renv/staging/
renv/cache/

# data & outputs
data/
outputs/

# Quarto/knitr junk (if you generate)
*_cache/
*.utf8.md
